body{
    margin: 0;
    padding: 0;
    
   
}


/* navbar starts  */
.navbar{
    width: 100%;
    background-image: linear-gradient(blueviolet,hotpink);
    height: 50px;
    padding: 30px;
    /* border-bottom: 10px solid rgb(228, 10, 192) ; */

}


nav ul li{
    display: inline-block;
    margin-right: 80px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
nav{
    text-align: right;
}

/* navbar ends  */

/* home section starts  */

h1{
    font-size: 50px;
    color: coral;
}
h3{
   font-size: 30px;
   color: darkorange;
}

.title{
     color: darkturquoise;
}

p{
    color: rgb(190, 20, 139);
    font-size: 20px;
    margin-bottom: 20px;
    
}
.flexible-container{
    display: flex;
    margin-top:60px ;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
    padding: 40px;

}


.half-width{
    width: 50%;
}
.half-width img{
    width: 70%;
}

.link-button{
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(orange,red);
    color: white;
    font-weight: 700;
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 5px;
    
   

}
/*home section ends  */

/* about me section starts  */

#banner-section{
    background-image: url("images/Frame1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}
#me{
    font-family: 'Parisienne', cursive;
    font-size: 25px;

}


/* about me secton ends  */
 
/* Recipe section starts  */

.divided-container{
    display: flex;
    
}
#upper{
    text-align: center;
    line-height: 10px;
    font-weight: 200;
}

.food{
    width: 20%;
    height: auto;
    box-shadow: 10px 10px 40px rgb(4, 4, 73);
    text-align: center;
    border-radius: 20px ;
    line-height: 5px;
    margin-left: 50px;
    margin-right: 70px;
    border-left: 5px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    padding-bottom: 20px;
}
.food img{
     height:240px;
     width:200px;
     border-radius: 10px;
     padding-bottom: 5px;
    

}
.item-name{
    font-size: 20px;
    color: brown;
    font-weight: 700px;
     
}
#item{
    font-size: 15px;    
}


/* Recipe section end  */



/* footer starts  */

footer{
    background-color: coral;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    
}

.foot{
    color: darkred;
    font-size: 20px;
}
#footdown{
    color: darkslateblue;
}
h4{
    color:blue;
    font-size: 20px;
    text-transform: uppercase;
}
 
/* footer ends  */



/* font-family: 'Parisienne', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */





